name: Deploy Terraform Infra to Azure

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: infra


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.15.3

      - name: List Files in Directory
        run: ls -R
    
      - name: Terraform Init
        run: terraform init
        working-directory: infra

      - name: Terraform Plan
        run: terraform plan --var-file=dev.tfvars
        working-directory: infra

      - name: Terraform Apply
        run: terraform apply -auto-approve --var-file=./dev.tfvars
        working-directory: infra

      - name: Terraform Output
        run: terraform output
        working-directory: infra
        


       

      
